# Dependencies
node_modules

# Log files
logs
*.log
npm-debug.log*
    
# Runtime data
pids
*.pid
*.seed

# Local env files
.env
.env.*

# Build Outputs
build
dist

# Miscellaneous
.tmp
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.turbo
tsconfig.tsbuildinfo

# Cache
.prettiercache
.eslintcache
.vercel